# postgres DB url
DATABASE_URL="postgresql://username:password@localhost:5432/dbname?schema=public"

# salt rounds for password hashing
SALT_ROUNDS=10

# JWT secret key
JWT_SECRET=""
JWT_EXPIRES_IN_DAYS="7"
JWT_COOKIE_NAME="token"